<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transfer</li>
    </ol>
</nav>


<div class="card card-default">
    <div class="card-header">
        <div class="card-tools">
            <span class="badge badge-success">Account No: 29380928308</span>
            <span class="badge badge-warning">Account Bal: #8285080</span>
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" disabled>
          <i class="fas fa-times"></i>
        </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-6">

                <div class="acctBtn">
                    <input type="text" name="recipientAcctNo" />
                    <button>Go</button>
                </div>
                <div class="dataForm mt-4">
                    <form>
                        <label for="paymentMethod " class="inputLabel ">Account No:</label>
                        <input type="text " name="uvt " class="input " disabled/>

                        <br /><br>
                        <label for="paymentMethod " class="inputLabel ">Amount</label>
                        <input type="text " name="uvt " class="input " placeholder="Enter Amount (&#8358;500, Min) " name="amountToTransfer " /><br><br>
                        <label for="paymentMethod " class="inputLabel ">My Wallet Pin</label>
                        <input type="text " name="uvt " class="input " placeholder="PIN " name="pin " name="transactionPin " />
                        <button type="button " class="btn btn-sm btn-block mt-2 " style="background-color: #4f8e87; ">Transfer</button>
                    </form>
                </div>

            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 display ">
                <div class="widget widget-reminder ">
                    <div class="widget-reminder-header "> FROM:</div>
                    <div class="widget-reminder-container ">
                        <div class="widget-reminder-time ">
                            oct 12 1995 19:00am<br />
                        </div>
                        <div class="widget-reminder-divider bg-success "></div>
                        <div class="widget-reminder-content ">
                            <h4 class="widget-title ">Daodu victor</h4>
                            <div class="widget-desc "><i class="fa fa-envelope "></i> victordaodu12@gmail.com</div>
                            <div class="widget-desc "><i class="fa fa-phone "></i> 09021489349</div>
                            <!-- <div class="widget-desc "><i class="fa fa-map-pin "></i> No 1 Beach Road Jos</div> -->
                            <h4 class="widget-title ">Account Number :<span>009765677</span></h4>
                        </div>
                    </div>
                </div>
                <div class="widget widget-reminder ">
                    <div class="widget-reminder-header "> TO:</div>
                    <div class="widget-reminder-container ">
                        <div class="widget-reminder-time ">
                            oct 12 1995 19:00am<br />
                        </div>
                        <div class="widget-reminder-divider bg-danger "></div>
                        <div class="widget-reminder-content ">
                            <h4 class="widget-title ">Daodu victor</h4>
                            <div class="widget-desc "><i class="fa fa-envelope "></i> victordaodu12@gmail.com</div>
                            <div class="widget-desc "><i class="fa fa-phone "></i> 09021489349</div>
                            <!-- <div class="widget-desc "><i class="fa fa-map-pin "></i> No 1 Beach Road Jos</div> -->
                            <h4 class="widget-title ">Account Number :<span>009765677</span></h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>