@media (min-width:992px) {
    .btn-floated {
        right: 2rem
    }
}

.btn-floated.btn-sm {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    line-height: 1
}

.btn-floated:focus,
.btn-floated:hover {
    -webkit-box-shadow: 0 3px 5px -1px rgba(61, 70, 79, .2), 0 6px 10px 0 rgba(61, 70, 79, .14), 0 1px 18px 0 rgba(61, 70, 79, .12)!important;
    box-shadow: 0 3px 5px -1px rgba(61, 70, 79, .2), 0 6px 10px 0 rgba(61, 70, 79, .14), 0 1px 18px 0 rgba(61, 70, 79, .12)!important
}

.btn-floated:active {
    -webkit-box-shadow: 0 7px 8px -4px rgba(61, 70, 79, .2), 0 12px 17px 2px rgba(61, 70, 79, .14), 0 5px 22px 4px rgba(61, 70, 79, .12)!important;
    box-shadow: 0 7px 8px -4px rgba(61, 70, 79, .2), 0 12px 17px 2px rgba(61, 70, 79, .14), 0 5px 22px 4px rgba(61, 70, 79, .12)!important
}

.btn-primary {
    border-color: #2b5a92
}

.btn-primary:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-primary.focus,
.btn-primary:focus {
    border-color: #254e7f;
    -webkit-box-shadow: inset 0 1px 0 0 #437fc7, 0 0 0 1px #254e7f;
    box-shadow: inset 0 1px 0 0 #437fc7, 0 0 0 1px #254e7f
}

.btn-secondary {
    border-color: #e2e2e2
}

.btn-secondary:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-secondary.focus,
.btn-secondary:focus {
    border-color: #d5d5d5;
    -webkit-box-shadow: inset 0 1px 0 0 #fff, 0 0 0 1px #d5d5d5;
    box-shadow: inset 0 1px 0 0 #fff, 0 0 0 1px #d5d5d5
}

.btn-success {
    border-color: #007c69
}

.btn-success:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-success.focus,
.btn-success:focus {
    border-color: #006254;
    -webkit-box-shadow: inset 0 1px 0 0 #00c8ab, 0 0 0 1px #006254;
    box-shadow: inset 0 1px 0 0 #00c8ab, 0 0 0 1px #006254
}

.btn-info {
    border-color: #015e82
}

.btn-info:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-info.focus,
.btn-info:focus {
    border-color: #014b69;
    -webkit-box-shadow: inset 0 1px 0 0 #0194ce, 0 0 0 1px #014b69;
    box-shadow: inset 0 1px 0 0 #0194ce, 0 0 0 1px #014b69
}

.btn-warning {
    border-color: #f5b548
}

.btn-warning:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-warning.focus,
.btn-warning:focus {
    border-color: #f4ac30;
    -webkit-box-shadow: inset 0 1px 0 0 #f9d390, 0 0 0 1px #f4ac30;
    box-shadow: inset 0 1px 0 0 #f9d390, 0 0 0 1px #f4ac30
}

.btn-danger {
    border-color: #a95292
}

.btn-danger:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-danger.focus,
.btn-danger:focus {
    border-color: #984a84;
    -webkit-box-shadow: inset 0 1px 0 0 #c485b3, 0 0 0 1px #984a84;
    box-shadow: inset 0 1px 0 0 #c485b3, 0 0 0 1px #984a84
}

.btn-light {
    color: #686f76;
    background-color: transparent;
    border-color: transparent
}

.btn-light.focus,
.btn-light:focus,
.btn-light:hover {
    color: #28313b;
    background-color: #e9eaeb;
    border-color: #e9eaeb;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    color: #346cb0;
    border-color: #dee9f5;
    background-color: #dee9f5;
    -webkit-box-shadow: 0 0 0 1px rgba(52, 108, 176, 0);
    box-shadow: 0 0 0 1px rgba(52, 108, 176, 0)
}

.btn-dark {
    border-color: #2c3339
}

.btn-dark:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-dark.focus,
.btn-dark:focus {
    border-color: #21262b;
    -webkit-box-shadow: inset 0 1px 0 0 #4e5965, 0 0 0 1px #21262b;
    box-shadow: inset 0 1px 0 0 #4e5965, 0 0 0 1px #21262b
}

.btn-secondary {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
    background: linear-gradient(180deg, #fff, #f5f5f5);
    border-color: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 0 0 #fff;
    box-shadow: inset 0 1px 0 0 #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(61, 70, 79, .05);
    box-shadow: 0 1px 0 0 rgba(61, 70, 79, .05)
}

.btn-secondary:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f5f5f5));
    background: linear-gradient(180deg, #f5f5f5, #f5f5f5)
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background: linear-gradient(180deg, #fff, #fff);
    -webkit-box-shadow: inset 0 1px 1px 0 rgba(19, 29, 40, .1), inset 0 1px 4px 0 rgba(19, 29, 40, .2);
    box-shadow: inset 0 1px 1px 0 rgba(19, 29, 40, .1), inset 0 1px 4px 0 rgba(19, 29, 40, .2)
}

.btn-secondary.focus,
.btn-secondary:focus {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f5f5f5));
    background: linear-gradient(180deg, #fff, #f5f5f5);
    border-color: #346cb0;
    -webkit-box-shadow: 0 0 0 1px #346cb0;
    box-shadow: 0 0 0 1px #346cb0
}

.btn-outline-secondary {
    color: #686f76
}

.btn-outline-secondary:focus,
.btn-outline-secondary:hover {
    border-color: #a9acb0
}

.btn-reset {
    padding: 0 2px;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    border: 0;
    cursor: pointer
}

.btn-reset:focus,
.btn-reset:hover {
    color: inherit;
    text-decoration: inherit;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-reset.text-muted.active,
.btn-reset.text-muted.focus,
.btn-reset.text-muted.show,
.btn-reset.text-muted:focus,
.btn-reset.text-muted:hover {
    color: #28313b!important
}

.btn-account {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    border: 0;
    -ms-flex-wrap: none;
    flex-wrap: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    -webkit-transition: background-color .15s;
    transition: background-color .15s;
    outline: 0
}

.btn-account:focus,
.btn-account:hover {
    color: inherit;
    text-decoration: none
}

.btn-account.focus,
.btn-account.show,
.btn-account:active,
.btn-account:focus {
    outline: 0
}

.btn-account .account-summary {
    margin-left: .5rem;
    display: block;
    text-align: left
}

.btn-account .account-description,
.btn-account .account-name {
    margin: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    line-height: 1rem
}

.btn-account .account-description {
    font-size: .75rem;
    font-weight: 400;
    opacity: .7
}

.btn-account .caret {
    border-top-width: 6px;
    border-right-width: 5px;
    border-left-width: 5px
}

.btn-account .account-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    font-size: .875rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .7
}

.btn-account .account-icon .caret,
.btn-account .account-icon .fa-caret-down {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.btn-account[aria-expanded=true]>.account-icon>.caret,
.btn-account[aria-expanded=true]>.account-icon>.fa-caret-down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.close:focus {
    outline: 0
}

legend {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 600
}

.form-group legend {
    margin-bottom: .5rem
}

label>abbr {
    color: #b76ba3
}

label>.badge,
label>abbr {
    margin-left: .125rem
}

label>a:hover {
    text-decoration: none
}

label.input-group-append,
label.input-group-prepend {
    margin-bottom: 0
}

@media (min-width:768px) {
    .form-control {
        font-size: .875rem;
        line-height: 1.6
    }
    .form-control.form-control-sm {
        font-size: .8125rem
    }
    .form-control.form-control-lg {
        font-size: 1rem
    }
    .form-check {
        font-size: .875rem;
        line-height: 1.6
    }
}

@media (min-width:768px) {
    .form-group .invalid-feedback,
    .form-group .small,
    .form-group .valid-feedback,
    .form-group small {
        font-size: 85%
    }
}

.form-control {
    -webkit-box-shadow: inset 0 1px 0 0 rgba(61, 70, 79, .05);
    box-shadow: inset 0 1px 0 0 rgba(61, 70, 79, .05);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.form-control[readonly] {
    background-color: #fff
}

.form-control[readonly]:hover~.input-group-prepend .input-group-text {
    color: #28313b
}

.form-control-reflow,
.form-control-reflow:focus {
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: .5rem
}

.form-actions .btn+.btn,
.form-actions .btn+.btn-group,
.form-actions .btn-group+.btn,
.form-actions .btn-group+.btn-group {
    margin-left: .125rem
}

.form-label-group {
    position: relative
}

.form-label-group>input,
.form-label-group>label {
    padding: .75rem
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    text-align: left;
    color: #a9acb0;
    border: 1px solid transparent;
    border-radius: .25rem;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    pointer-events: none
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent
}

.form-label-group input:-ms-input-placeholder,
.form-label-group input::-ms-input-placeholder {
    color: transparent
}

.form-label-group input::placeholder {
    color: transparent
}

.form-label-group input:not(:placeholder-shown):not(.placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem
}

.form-label-group input:not(:placeholder-shown):not(.placeholder-shown)~label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: .75rem;
    color: #686f76
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
    -webkit-box-shadow: 0 0 0 1px #b76ba3;
    box-shadow: 0 0 0 1px #b76ba3
}

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
    -webkit-box-shadow: 0 0 0 1px #00a28a;
    box-shadow: 0 0 0 1px #00a28a
}

.custom-control-input.is-invalid~.custom-control-label:before,
.was-validated .custom-control-input:invalid~.custom-control-label:before {
    border-color: #b76ba3
}

.custom-control-input.is-valid~.custom-control-label:before,
.was-validated .custom-control-input:valid~.custom-control-label:before {
    border-color: #00a28a
}

.custom-file-input.is-invalid~.custom-file-label:after,
.was-validated .custom-file-input:invalid~.custom-file-label:after {
    border-color: #b76ba3
}

.custom-file-input.is-invalid:focus~.custom-file-label,
.was-validated .custom-file-input:invalid:focus~.custom-file-label {
    border-color: #b76ba3;
    -webkit-box-shadow: 0 0 0 1px #b76ba3;
    box-shadow: 0 0 0 1px #b76ba3
}

.custom-file-input.is-invalid:focus~.custom-file-label:after,
.was-validated .custom-file-input:invalid:focus~.custom-file-label:after {
    border-color: #b76ba3
}

.custom-file-input.is-valid~.custom-file-label:after,
.was-validated .custom-file-input:valid~.custom-file-label:after {
    border-color: #00a28a
}

.custom-file-input.is-valid:focus~.custom-file-label,
.was-validated .custom-file-input:valid:focus~.custom-file-label {
    border-color: #00a28a;
    -webkit-box-shadow: 0 0 0 1px #00a28a;
    box-shadow: 0 0 0 1px #00a28a
}

.custom-file-input.is-valid:focus~.custom-file-label:after,
.was-validated .custom-file-input:valid:focus~.custom-file-label:after {
    border-color: #00a28a
}

@media (min-width:768px) {
    .input-group-lg>.form-control,
    .input-group-lg>.input-group-append>.btn,
    .input-group-lg>.input-group-append>.input-group-text,
    .input-group-lg>.input-group-prepend>.btn,
    .input-group-lg>.input-group-prepend>.input-group-text {
        font-size: 1rem;
        line-height: 1.6
    }
    .input-group-sm>.form-control,
    .input-group-sm>.input-group-append>.btn,
    .input-group-sm>.input-group-append>.input-group-text,
    .input-group-sm>.input-group-prepend>.btn,
    .input-group-sm>.input-group-prepend>.input-group-text {
        font-size: .8125rem;
        line-height: 1.6
    }
    .input-group-text {
        font-size: .875rem;
        line-height: 1.6
    }
}

.input-group:not(.input-group-alt) {
    border: 1px solid #d4d5d7;
    border-radius: .25rem;
    background-color: #fff;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(61, 70, 79, .05);
    box-shadow: inset 0 1px 0 0 rgba(61, 70, 79, .05);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

@media screen and (prefers-reduced-motion:reduce) {
    .input-group:not(.input-group-alt) {
        -webkit-transition: none;
        transition: none
    }
}

.input-group:not(.input-group-alt).focus {
    border-color: #346cb0;
    -webkit-box-shadow: 0 0 0 1px #346cb0;
    box-shadow: 0 0 0 1px #346cb0;
    z-index: 3
}

.input-group:not(.input-group-alt).focus .input-group-append .badge,
.input-group:not(.input-group-alt).focus .input-group-prepend .badge {
    color: #fff;
    background-color: #346cb0
}

.input-group:not(.input-group-alt) .form-control,
.input-group:not(.input-group-alt) .input-group-text {
    border: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-group:not(.input-group-alt) .form-control.focus,
.input-group:not(.input-group-alt) .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-group:not(.input-group-alt) .input-group-prepend .input-group-text {
    padding-right: 1px
}

.input-group:not(.input-group-alt) .input-group-prepend .badge,
.input-group:not(.input-group-alt) .input-group-prepend .loader {
    margin-left: .5rem
}

.input-group:not(.input-group-alt) .input-group-append .input-group-text {
    padding-left: 1px
}

.input-group:not(.input-group-alt) .input-group-append .badge,
.input-group:not(.input-group-alt) .input-group-append .loader {
    margin-right: .5rem
}

.input-group:not(.input-group-alt) .input-group-append .btn,
.input-group:not(.input-group-alt) .input-group-prepend .btn {
    border: 0
}

.input-group:not(.input-group-alt) .input-group-append .loader,
.input-group:not(.input-group-alt) .input-group-prepend .loader {
    -ms-flex-item-align: center;
    align-self: center
}

.input-group:not(.input-group-alt) .input-group-append .badge,
.input-group:not(.input-group-alt) .input-group-prepend .badge {
    padding: .25rem .5rem;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: inherit;
    color: #a9acb0;
    font-weight: 400;
    background: #e9eaeb;
    -webkit-transition: all .15s;
    transition: all .15s
}

.input-group:not(.input-group-alt).input-group-sm {
    border-radius: .2rem
}

.input-group:not(.input-group-alt).input-group-lg {
    border-radius: .3rem
}

.input-group:not(.input-group-alt) .invalid-feedback,
.input-group:not(.input-group-alt) .valid-feedback {
    margin-left: .75rem;
    margin-top: -.375rem;
    margin-bottom: .25rem
}

.input-group-alt .input-group-text {
    color: #28313b;
    -webkit-box-shadow: none;
    box-shadow: none
}

.input-group-reflow,
.input-group-reflow.focus,
.input-group-reflow .form-control,
.input-group-reflow .form-control:focus,
.input-group-reflow .input-group-append,
.input-group-reflow .input-group-prepend {
    background-color: transparent!important;
    border-color: transparent!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.input-group-reflow .input-group-prepend>.input-group-text {
    padding-right: 0
}

.input-group-reflow .input-group-append>.input-group-text {
    padding-left: 0
}

.input-group-alt>.input-group {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0
}

.input-group-alt>.input-group:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group-alt>.input-group:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-group-alt>.input-group:not(:first-child):not(:last-child) {
    border-radius: 0
}

.input-group-append .custom-select,
.input-group-prepend .custom-select {
    position: relative;
    z-index: 2
}

.input-group-append .btn:focus,
.input-group-prepend .btn:focus {
    z-index: 3
}

.input-group>.input-group-append:last-child>.custom-select:not(:last-child),
.input-group>.input-group-append:not(:last-child)>.custom-select,
.input-group>.input-group-prepend>.custom-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.input-group>.input-group-append>.custom-select,
.input-group>.input-group-prepend:first-child>.custom-select:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.custom-select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.input-group-text {
    color: #a9acb0;
    -webkit-box-shadow: inset 0 1px 0 0 rgba(61, 70, 79, .05);
    box-shadow: inset 0 1px 0 0 rgba(61, 70, 79, .05)
}

.input-group-text>.oi {
    top: 0
}

.has-clearable {
    position: relative
}

.has-clearable .form-control {
    padding-right: 30px
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f5f5f5
}

@media (min-width:768px) {
    body {
        font-size: .875rem
    }
}

iframe {
    margin-bottom: 1rem
}

.app {
    width: 100%;
    min-height: 100%
}

@media (min-width:768px) {
    .app.has-clipped-header .app-header {
        left: 15rem
    }
}

.app.has-clipped-header .top-bar-brand {
    width: auto;
    background-color: transparent
}

.app.has-clipped-header .app-aside {
    top: 0
}

.app.has-fullwidth .app-main {
    padding-left: 0
}

.app.has-fullwidth .top-bar-brand {
    background-color: transparent
}

.app.has-fullwidth .app-aside {
    top: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    z-index: 1050;
    border-right: 0
}

.app.has-fullwidth .app-aside.has-open {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.app.has-fullwidth .app-backdrop.show {
    display: block;
    -webkit-animation: fadeInBackdrop .26s ease forwards;
    animation: fadeInBackdrop .26s ease forwards
}

.app-main {
    position: relative;
    padding-top: 3.5rem;
    padding-right: 0;
    padding-left: 0;
    overflow: hidden
}

@media (min-width:768px) {
    .app-main {
        padding-left: 15rem
    }
}

.wrapper {
    position: relative;
    margin: 0 auto
}

.app-backdrop {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(61, 70, 79, .86);
    z-index: 1040
}

@media (max-width:767.98px) {
    .app-backdrop.show {
        display: block;
        -webkit-animation: fadeInBackdrop .26s ease forwards;
        animation: fadeInBackdrop .26s ease forwards
    }
}

@-webkit-keyframes fadeInBackdrop {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeInBackdrop {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.el-example>.btn,
.el-example>.btn-group {
    margin: 4px 2px
}

.app-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 3.5rem;
    background-color: #346cb0;
    color: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    z-index: 1030
}

.app-header .btn-account {
    padding: 0 1rem;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-left: 1px solid rgba(0, 0, 0, .12)
}

.app-header .btn-account:hover {
    background-color: hsla(0, 0%, 100%, .12)
}

.app-header .btn-account.focus,
.app-header .btn-account.show,
.app-header .btn-account:active,
.app-header .btn-account:focus {
    background-color: rgba(0, 0, 0, .12)
}

.app-header .btn-account .account-summary {
    max-width: 10rem
}

.top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 3.5rem;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.top-bar-brand {
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3.5rem;
    width: 15rem;
    padding: 0 .5rem 0 1rem;
    background-color: rgba(0, 0, 0, .12)
}

.top-bar-brand>a {
    color: hsla(0, 0%, 100%, .87)
}

.top-bar-brand>a:focus,
.top-bar-brand>a:hover {
    color: #fff;
    text-decoration: none
}

@media (min-width:768px) {
    .top-bar-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

.top-bar-list {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.top-bar-item,
.top-bar-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.top-bar-item {
    padding: 0
}

@media (min-width:768px) {
    .top-bar-item {
        padding-right: 1rem;
        padding-left: 1rem
    }
}

@media (min-width:992px) {
    .top-bar-item {
        padding-right: 2rem;
        padding-left: 2rem
    }
}

.top-bar-item-full {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.top-bar-item-right,
.top-bar-search {
    margin-left: auto
}

.top-bar-search {
    width: 100%;
    margin-right: auto
}

@media (min-width:768px) {
    .top-bar-search {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .top-bar-search {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .top-bar-search {
        max-width: 1140px
    }
}

@media (max-width:767.98px) {
    .top-bar-search {
        padding-right: 1rem;
        padding-left: .5rem
    }
}

.top-bar-search .input-group {
    width: 100%;
    border-color: transparent
}

.top-bar-search .input-group.focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.top-bar-search .input-group-search {
    background-color: hsla(0, 0%, 100%, .12)
}

.top-bar-search .input-group-search.focus {
    background-color: #fff
}

.top-bar-search .input-group-search:not(.focus) .form-control,
.top-bar-search .input-group-search:not(.focus) .form-control::-webkit-input-placeholder,
.top-bar-search .input-group-search:not(.focus) .input-group-text {
    color: #fff
}

.top-bar-search .input-group-search:not(.focus) .form-control,
.top-bar-search .input-group-search:not(.focus) .form-control:-ms-input-placeholder,
.top-bar-search .input-group-search:not(.focus) .form-control::-ms-input-placeholder,
.top-bar-search .input-group-search:not(.focus) .input-group-text {
    color: #fff
}

.top-bar-search .input-group-search:not(.focus) .form-control,
.top-bar-search .input-group-search:not(.focus) .form-control::placeholder,
.top-bar-search .input-group-search:not(.focus) .input-group-text {
    color: #fff
}

.header-nav {
    padding: 0 .5rem
}

.header-nav>.nav-item>.nav-link,
.header-nav>.nav-link {
    padding: .5rem .75rem;
    margin: 0 .25rem;
    color: #fff;
    opacity: .7;
    border-radius: .2rem
}

.header-nav>.nav-item>.nav-link.active,
.header-nav>.nav-item>.nav-link.focus,
.header-nav>.nav-item>.nav-link:active,
.header-nav>.nav-item>.nav-link:focus,
.header-nav>.nav-item>.nav-link:hover,
.header-nav>.nav-link.active,
.header-nav>.nav-link.focus,
.header-nav>.nav-link:active,
.header-nav>.nav-link:focus,
.header-nav>.nav-link:hover {
    color: #fff;
    opacity: 1
}

.header-nav>.nav-item>.nav-link:hover,
.header-nav>.nav-link:hover {
    background-color: hsla(0, 0%, 100%, .12)
}

.header-nav>.nav-item>.nav-link.active,
.header-nav>.nav-item>.nav-link.focus,
.header-nav>.nav-item>.nav-link:active,
.header-nav>.nav-item>.nav-link:focus,
.header-nav>.nav-link.active,
.header-nav>.nav-link.focus,
.header-nav>.nav-link:active,
.header-nav>.nav-link:focus {
    background-color: rgba(0, 0, 0, .12)
}

.header-nav .show>.nav-link,
.header-nav .show>.nav-link:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .12);
    opacity: 1
}

.header-nav-dropdown {
    position: static
}

@media (min-width:576px) {
    .header-nav-dropdown {
        position: relative
    }
}

@media (max-width:575.98px) {
    .header-nav-dropdown .dropdown-arrow {
        top: auto;
        left: auto;
        margin-left: .75rem
    }
}

.header-nav-dropdown .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

@media (max-width:575.98px) {
    .header-nav-dropdown .dropdown-menu {
        margin-top: 0;
        left: 0!important;
        right: 0!important;
        width: 100%;
        border-radius: 0
    }
}

.app-aside {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    color: inherit;
    background-color: #f5f5f5;
    z-index: 1030;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.app-aside.has-open .aside-header>.hamburger {
    display: block
}

@media (max-width:767.98px) {
    .app-aside {
        top: 0;
        width: calc(100vw - 3.5rem);
        min-width: 15rem;
        max-width: 16.5rem;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        z-index: 1050;
        border-right: 0
    }
    .app-aside.has-open {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@media (min-width:768px) {
    .app-aside {
        top: 3.5rem;
        width: 15rem;
        border-right: 1px solid #e9eaeb;
        z-index: 1
    }
}

.aside-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.aside-header {
    position: relative;
    display: block;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    z-index: 3
}

.aside-header>.hamburger {
    display: none;
    position: absolute;
    top: .75rem;
    right: -3rem
}

.aside-header .btn-account {
    padding: 1rem;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.aside-header .btn-account.focus,
.aside-header .btn-account:focus {
    background-color: inherit
}

.aside-header .btn-account:active {
    background-color: #dee9f5
}

.aside-header .btn-account[aria-expanded=true]:before {
    content: "";
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2
}

.aside-header .btn-account .account-name {
    font-size: 1.125rem;
    line-height: 1.5rem
}

.aside-header .btn-account .account-description {
    font-size: .875em
}

.dropdown-aside {
    position: absolute;
    width: 100%;
    background-color: hsla(0, 0%, 100%, .98);
    -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    z-index: 1
}

.dropdown-aside.show {
    max-height: calc(100vh - 4.5rem);
    overflow: auto
}

.dropdown-aside .dropdown-icon {
    text-align: center;
    width: 1.5rem;
    margin-right: .5em
}

.aside-menu {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.aside-menu:not(.has-scrollable) {
    overflow-y: auto
}

.page {
    min-height: 646px;
    min-height: calc(100vh - 3.5rem)
}

@media (min-width:1200px) {
    .page.has-sidebar .page-inner {
        margin-right: 22.5rem
    }
}

.page-navs {
    position: relative;
    display: block;
    padding-right: 1rem;
    padding-left: 1rem;
    -webkit-box-shadow: 0 1px 0 rgba(61, 70, 79, .125);
    box-shadow: 0 1px 0 rgba(61, 70, 79, .125);
    z-index: 1
}

.page-navs.has-shadow {
    -webkit-box-shadow: 0 1px 3px 0 rgba(61, 70, 79, .15);
    box-shadow: 0 1px 3px 0 rgba(61, 70, 79, .15)
}

@media (min-width:992px) {
    .page-navs {
        padding-right: 2rem;
        padding-left: 2rem
    }
}

.page-navs>.navbar {
    padding-right: 0;
    padding-left: 0
}

.page-navs>.nav,
.page-navs>.nav-scroller {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.page-navs>.nav-scroller .nav-tabs,
.page-navs>.nav-tabs {
    border-bottom: 0
}

.page-cover {
    position: relative;
    padding: 2rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #e9eaeb;
    background-size: cover;
    -webkit-box-shadow: 0 1px 0 rgba(61, 70, 79, .125);
    box-shadow: 0 1px 0 rgba(61, 70, 79, .125)
}

@media (min-width:576px) {
    .page-cover {
        padding-right: 1rem;
        padding-left: 1rem
    }
}

@media (min-width:992px) {
    .page-cover {
        padding-right: 2rem;
        padding-left: 2rem
    }
}

.page-cover .cover-controls {
    margin-bottom: 1.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.page-cover .cover-controls:last-child {
    margin-bottom: 0
}

.page-cover .cover-controls .btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.page-cover .cover-controls .btn+.btn {
    margin-left: .5rem
}

@media (min-width:768px) {
    .page-cover .cover-controls {
        margin-bottom: 0;
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem
    }
    .page-cover .cover-controls-bottom {
        top: auto;
        bottom: .5rem
    }
    .page-cover .cover-controls .btn+.btn {
        margin-left: 0
    }
}

.page-message {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #e9eaeb;
    border-bottom: 1px solid rgba(61, 70, 79, .05)
}

@media (min-width:576px) {
    .page-message {
        padding-right: 1rem;
        padding-left: 1rem
    }
}

@media (min-width:992px) {
    .page-message {
        padding-right: 2rem;
        padding-left: 2rem
    }
}

.page-message a:not(.btn) {
    text-decoration: underline
}

.page-inner {
    padding: 1.5rem 0
}

@media (min-width:576px) {
    .page-inner {
        padding-right: 1rem;
        padding-left: 1rem
    }
}

@media (min-width:992px) {
    .page-inner {
        padding-right: 2rem;
        padding-left: 2rem
    }
}

.page-inner-fill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100vh - 3.5rem)
}

.page-section,
.page-title-bar {
    width: 100%;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .page-section,
    .page-title-bar {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .page-section,
    .page-title-bar {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .page-section,
    .page-title-bar {
        max-width: 1140px
    }
}

.page-title-bar {
    margin-bottom: 1.5rem;
    padding: 0 1rem
}

@media (min-width:576px) {
    .page-title-bar {
        padding-right: 0;
        padding-left: 0
    }
}

.page-title-bar .btn-toolbar {
    margin-left: -.75rem
}

.page-title {
    margin-top: 0;
    font-size: 1.75rem
}

.page-title>small {
    font-size: 1rem;
    color: #686f76
}

@media (min-width:768px) {
    .page-title>small {
        font-size: .875rem
    }
}

.page-section {
    padding-right: 0;
    padding-left: 0
}

@media (max-width:575.98px) {
    .page-section>.card {
        border-radius: 0;
        border-width: 1px 0
    }
}

.section-title {
    margin-top: 0;
    padding: 1rem 0;
    font-size: 1rem
}

.section-block {
    margin: 1rem 0
}

@media (max-width:575.98px) {
    .section-block {
        padding-right: 1rem;
        padding-left: 1rem
    }
}

.section-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:1200px) {
    .section-deck {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -10px;
        margin-left: -10px
    }
    .section-deck .card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px
    }
}

@media (min-width:992px) {
    .section-columns {
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 20px;
        column-gap: 20px
    }
    .section-columns>.section-item {
        display: inline-block;
        width: 100%;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-column-break-inside: avoid
    }
}

.page-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 22.5rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f5f5f5;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    overflow: auto;
    z-index: 1029;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

@media (min-width:1200px) {
    .page-sidebar {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    .page-sidebar.has-open {
        position: absolute;
        top: 0
    }
}

@media (max-width:575.98px) {
    .page-sidebar {
        max-width: 100%
    }
}

.page-sidebar.has-open {
    position: fixed;
    top: 3.5rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.page-sidebar-fixed {
    position: fixed;
    top: 3.5rem;
    overflow: auto
}

.sidebar-backdrop {
    display: none;
    position: fixed;
    top: 3.5rem;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(61, 70, 79, .26);
    z-index: 1028
}

@media (max-width:1199.98px) {
    .sidebar-backdrop.show {
        display: block;
        -webkit-animation: fadeInBackdrop .26s ease forwards;
        animation: fadeInBackdrop .26s ease forwards
    }
}

.sidebar-header {
    position: relative;
    padding: .5rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
    z-index: 1
}

.sidebar-header .breadcrumb {
    margin-bottom: 0
}

.sidebar-title {
    margin: 1rem 0;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase
}

.sidebar-section {
    padding: 20px
}

.sidebar-section-fill {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto
}

.sidebar-section-fill:not(.sidebar-section)>.sidebar-title {
    margin-left: 1rem
}

.sidebar-footer {
    position: relative;
    padding: .5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 -1px 3px 0 rgba(61, 70, 79, .15);
    box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 -1px 3px 0 rgba(61, 70, 79, .15);
    z-index: 1
}

.rating-block {
    display: block
}

.rating {
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    vertical-align: middle
}

.rating-xs {
    font-size: .875rem
}

.rating-sm {
    font-size: 1rem
}

.rating-lg {
    font-size: 1.5rem
}

.rating>input[type=checkbox],
.rating>input[type=radio],
.rating>label {
    float: right;
    cursor: pointer
}

.rating>label {
    margin-bottom: 0;
    display: inline;
    color: #e9eaeb;
    line-height: 1
}

.rating>label:hover {
    color: #fbe3b9
}

.rating>label:hover~label {
    color: #f7c46c
}

.rating.has-readonly>label:hover,
.rating.has-readonly>label:hover~label {
    color: #e9eaeb
}

.rating>input[type=checkbox],
.rating>input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: -1
}

.rating>input[type=checkbox]:checked~label,
.rating>input[type=radio]:checked~label {
    color: #f7c46c
}

.rating-blue>label:hover {
    color: #01b3f9
}

.rating-blue>input[type=checkbox]:checked~label,
.rating-blue>input[type=radio]:checked~label,
.rating-blue>label:hover~label {
    color: #0179a8
}

.rating-indigo>label:hover {
    color: #6496d1
}

.rating-indigo>input[type=checkbox]:checked~label,
.rating-indigo>input[type=radio]:checked~label,
.rating-indigo>label:hover~label {
    color: #346cb0
}

.rating-purple>label:hover {
    color: #8874b4
}

.rating-purple>input[type=checkbox]:checked~label,
.rating-purple>input[type=radio]:checked~label,
.rating-purple>label:hover~label {
    color: #5f4b8b
}

.rating-pink>label:hover {
    color: #d2a2c5
}

.rating-pink>input[type=checkbox]:checked~label,
.rating-pink>input[type=radio]:checked~label,
.rating-pink>label:hover~label {
    color: #b76ba3
}

.rating-red>label:hover {
    color: #f3a9a1
}

.rating-red>input[type=checkbox]:checked~label,
.rating-red>input[type=radio]:checked~label,
.rating-red>label:hover~label {
    color: #ea6759
}

.rating-orange>label:hover {
    color: #f5c4a7
}

.rating-orange>input[type=checkbox]:checked~label,
.rating-orange>input[type=radio]:checked~label,
.rating-orange>label:hover~label {
    color: #ec935e
}

.rating-yellow>label:hover {
    color: #fbe3b9
}

.rating-yellow>input[type=checkbox]:checked~label,
.rating-yellow>input[type=radio]:checked~label,
.rating-yellow>label:hover~label {
    color: #f7c46c
}

.rating-green>label:hover {
    color: #d4e3cb
}

.rating-green>input[type=checkbox]:checked~label,
.rating-green>input[type=radio]:checked~label,
.rating-green>label:hover~label {
    color: #a7c796
}

.rating-teal>label:hover {
    color: #00f4d0
}

.rating-teal>input[type=checkbox]:checked~label,
.rating-teal>input[type=radio]:checked~label,
.rating-teal>label:hover~label {
    color: #00a28a
}

.rating-cyan>label:hover {
    color: #5fafc9
}

.rating-cyan>input[type=checkbox]:checked~label,
.rating-cyan>input[type=radio]:checked~label,
.rating-cyan>label:hover~label {
    color: #3686a0
}

.rating-white>input[type=checkbox]:checked~label,
.rating-white>input[type=radio]:checked~label,
.rating-white>label:hover,
.rating-white>label:hover~label {
    color: #fff
}

.rating-gray>label:hover {
    color: #91989e
}

.rating-gray>input[type=checkbox]:checked~label,
.rating-gray>input[type=radio]:checked~label,
.rating-gray>label:hover~label {
    color: #686f76
}

.rating-gray-dark>label:hover {
    color: #616f7d
}

.rating-gray-dark>input[type=checkbox]:checked~label,
.rating-gray-dark>input[type=radio]:checked~label,
.rating-gray-dark>label:hover~label {
    color: #3d464f
}

.switcher-control {
    margin-bottom: 0;
    position: relative;
    width: 36px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.switcher-input {
    display: none
}

.switcher-indicator {
    margin-bottom: 0;
    overflow: hidden;
    cursor: pointer;
    height: 16px;
    padding: 0;
    line-height: 16px;
    background-color: #e9eaeb;
    -webkit-transition: background-color .15s linear;
    transition: background-color .15s linear
}

.switcher-indicator,
.switcher-indicator:before {
    display: block;
    border: 2px solid #e9eaeb;
    border-radius: 16px
}

.switcher-indicator:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 16px;
    margin: 0;
    background: #fff;
    right: 20px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out
}

.switcher-input:checked+.switcher-indicator,
.switcher-input:checked+.switcher-indicator:before {
    border-color: #346cb0
}

.switcher-input:checked+.switcher-indicator {
    background-color: #346cb0
}

.switcher-input:checked+.switcher-indicator:before {
    right: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.disabled>.switcher-input,
.switcher-input:disabled {
    pointer-events: none
}

.disabled>.switcher-input+.switcher-indicator,
.switcher-input:disabled+.switcher-indicator {
    opacity: .65;
    cursor: default
}

.switcher-control-success .switcher-input:checked+.switcher-indicator,
.switcher-control-success .switcher-input:checked+.switcher-indicator:before {
    border-color: #00a28a
}

.switcher-control-success .switcher-input:checked+.switcher-indicator {
    background-color: #00a28a
}

.switcher-control-danger .switcher-input:checked+.switcher-indicator,
.switcher-control-danger .switcher-input:checked+.switcher-indicator:before {
    border-color: #b76ba3
}

.switcher-control-danger .switcher-input:checked+.switcher-indicator {
    background-color: #b76ba3
}

.list-icons {
    padding-left: 0;
    margin-left: 1.5rem;
    list-style-type: none
}

.list-icons>li {
    position: relative
}

.list-icons>li:not(:last-child) {
    margin-bottom: .25rem
}

.list-icons .list-icon {
    position: absolute;
    left: -1.5rem;
    width: 1rem;
    font-size: 1em;
    text-align: center
}

.tile-wrapper {
    display: inline-block;
    text-align: center
}

.tile-wrapper .tile {
    margin-bottom: .25rem
}

.tile-wrapper .tile-peek {
    display: block;
    font-size: .875rem
}

a.tile-wrapper .tile-peek {
    color: #686f76
}

a.tile-wrapper:focus {
    text-decoration: none
}

a.tile-wrapper:focus .tile-peek {
    color: #28313b
}

a.tile-wrapper:hover {
    text-decoration: none
}

a.tile-wrapper:hover .tile-peek {
    color: #28313b
}

.tile {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    color: #686f76;
    font-weight: 600;
    font-size: 1rem;
    background-color: #e9eaeb;
    line-height: 2rem;
    text-align: center;
    vertical-align: middle;
    border-radius: .25rem
}

.tile-img {
    position: relative;
    background-color: transparent;
    overflow: hidden
}

.tile.bg-danger,
.tile.bg-dark,
.tile.bg-info,
.tile.bg-primary,
.tile.bg-success,
.tile.bg-warning {
    color: #fff
}

.tile-lg {
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
    line-height: 3rem;
    border-radius: .3rem
}

.tile-md {
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem
}

.tile-sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: .75rem;
    line-height: 1.5rem
}

.tile-xs {
    width: 1.25rem;
    height: 1.25rem;
    font-size: .75rem;
    line-height: 1.25rem
}

.tile-circle {
    border-radius: 2rem
}

.tile>img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    max-width: 200%
}

a.tile {
    outline: 0
}

a.tile:focus,
a.tile:hover {
    color: #3d464f;
    text-decoration: none
}

.tile.bg-blue,
.tile.bg-indigo,
.tile.bg-pink,
.tile.bg-purple,
.tile.bg-red,
a.tile.bg-blue:focus,
a.tile.bg-blue:hover,
a.tile.bg-danger:focus,
a.tile.bg-danger:hover,
a.tile.bg-dark:focus,
a.tile.bg-dark:hover,
a.tile.bg-indigo:focus,
a.tile.bg-indigo:hover,
a.tile.bg-info:focus,
a.tile.bg-info:hover,
a.tile.bg-pink:focus,
a.tile.bg-pink:hover,
a.tile.bg-primary:focus,
a.tile.bg-primary:hover,
a.tile.bg-purple:focus,
a.tile.bg-purple:hover,
a.tile.bg-red:focus,
a.tile.bg-red:hover,
a.tile.bg-success:focus,
a.tile.bg-success:hover,
a.tile.bg-warning:focus,
a.tile.bg-warning:hover {
    color: #fff
}

.tile.bg-green,
.tile.bg-orange,
.tile.bg-yellow,
a.tile.bg-green:focus,
a.tile.bg-green:hover,
a.tile.bg-orange:focus,
a.tile.bg-orange:hover,
a.tile.bg-yellow:focus,
a.tile.bg-yellow:hover {
    color: #28313b
}

.tile.bg-cyan,
.tile.bg-teal,
a.tile.bg-cyan:focus,
a.tile.bg-cyan:hover,
a.tile.bg-teal:focus,
a.tile.bg-teal:hover {
    color: #fff
}

.tile.bg-white,
a.tile.bg-white:focus,
a.tile.bg-white:hover {
    color: #28313b
}

.tile.bg-gray,
.tile.bg-gray-dark,
a.tile.bg-gray-dark:focus,
a.tile.bg-gray-dark:hover,
a.tile.bg-gray:focus,
a.tile.bg-gray:hover {
    color: #fff
}

.user-avatar {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    border-radius: 4rem;
    background-color: #fff;
    vertical-align: middle
}

.user-avatar-xxl {
    width: 8rem;
    height: 8rem;
    font-size: 8rem
}

.user-avatar-xl {
    width: 5rem;
    height: 5rem;
    font-size: 5rem
}

.user-avatar-lg {
    width: 3rem;
    height: 3rem;
    font-size: 3rem
}

.user-avatar-md {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 2.25rem
}

.user-avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem
}

.user-avatar-xs {
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1.25rem
}

.user-avatar.dropdown .dropdown-menu {
    min-width: 6rem
}

.user-avatar.dropdown.focus .avatar-badge>.oi:before,
.user-avatar.dropdown.show .avatar-badge>.oi:before,
.user-avatar.dropdown:focus .avatar-badge>.oi:before,
.user-avatar.dropdown:hover .avatar-badge>.oi:before {
    content: "\e02d"
}

.user-avatar.dropdown.focus .avatar-badge>.fa:before,
.user-avatar.dropdown.show .avatar-badge>.fa:before,
.user-avatar.dropdown:focus .avatar-badge>.fa:before,
.user-avatar.dropdown:hover .avatar-badge>.fa:before {
    content: "\f0d7"
}

.user-avatar.dropdown.focus .offline,
.user-avatar.dropdown.show .offline,
.user-avatar.dropdown:focus .offline,
.user-avatar.dropdown:hover .offline {
    color: #fff
}

.user-avatar>a {
    color: inherit;
    outline: 0
}

.user-avatar>a:focus,
.user-avatar>a:hover {
    color: inherit;
    text-decoration: none
}

.user-avatar audio,
.user-avatar canvas,
.user-avatar img,
.user-avatar video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4rem
}

a.user-avatar:focus,
a.user-avatar:hover {
    outline: 0
}

a.user-avatar:focus {
    -webkit-box-shadow: 0 0 0 3px #346cb0;
    box-shadow: 0 0 0 3px #346cb0
}

.user-avatar-lg .avatar-badge {
    right: 5px
}

.user-avatar-sm .avatar-badge,
.user-avatar-xs .avatar-badge {
    right: -2px
}

.user-avatar-floated {
    margin-top: -2.5rem;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    z-index: 2
}

.user-avatar-floated.user-avatar-lg {
    margin-top: -.5rem
}

.avatar-group {
    display: inline-block
}

.avatar-group .user-avatar {
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff
}

.avatar-group .user-avatar:focus,
.avatar-group .user-avatar:hover {
    z-index: 2
}

.avatar-group .user-avatar+.user-avatar {
    display: inline-block;
    margin-left: -.5em
}

.avatar-badge {
    position: absolute;
    right: 1px;
    bottom: 0;
    display: block;
    width: 8px;
    height: 8px;
    line-height: 1;
    text-align: center;
    font-size: 8px;
    color: #fff;
    background-color: #a9acb0;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 0 2px #fff;
    box-shadow: 0 0 0 2px #fff;
    z-index: 2
}

.avatar-badge.has-indicator {
    width: 10px;
    height: 10px
}

.avatar-badge.online {
    background-color: #00a28a
}

.avatar-badge.idle {
    background-color: #ec935e
}

.avatar-badge.busy {
    background-color: #ea6759
}

.avatar-badge.offline {
    color: #a9acb0;
    background-color: #a9acb0
}

.avatar-badge .fa {
    line-height: 10px
}

.hamburger {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .5rem;
    cursor: pointer;
    height: 2.25rem;
    width: 2.25rem;
    -webkit-transition: background-color .3s linear;
    transition: background-color .3s linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    border-radius: .25rem;
    margin: 0;
    overflow: visible;
    outline: 0
}

.hamburger-sm .hamburger-inner {
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.hamburger.focus,
.hamburger:focus,
.hamburger:hover {
    background-color: hsla(0, 0%, 100%, .05);
    outline: 0
}

.hamburger:active {
    background-color: rgba(19, 29, 40, .05)
}

.hamburger-box {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    width: 1.25rem;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.hamburger-inner:after,
.hamburger-inner:before {
    content: "";
    display: block
}

.hamburger-inner:before {
    top: -6px
}

.hamburger-inner:after {
    bottom: -6px
}

.hamburger-light .hamburger-inner,
.hamburger-light .hamburger-inner:after,
.hamburger-light .hamburger-inner:before {
    background-color: #3d464f
}

.hamburger-arrow.has-active .hamburger-inner:before {
    -webkit-transform: translate3d(-.25rem, 1px, 0) rotate(-45deg) scaleX(.7);
    transform: translate3d(-.25rem, 1px, 0) rotate(-45deg) scaleX(.7)
}

.hamburger-arrow.has-active .hamburger-inner:after {
    -webkit-transform: translate3d(-.25rem, -1px, 0) rotate(45deg) scaleX(.7);
    transform: translate3d(-.25rem, -1px, 0) rotate(45deg) scaleX(.7)
}

.hamburger-squeeze .hamburger-inner {
    -webkit-transition-duration: 75ms;
    transition-duration: 75ms;
    -webkit-transition-timing-function: cubic-bezier(.55, .055, .675, .19);
    transition-timing-function: cubic-bezier(.55, .055, .675, .19)
}

.hamburger-squeeze .hamburger-inner:before {
    -webkit-transition: top 75ms ease .12s, opacity 75ms ease;
    transition: top 75ms ease .12s, opacity 75ms ease
}

.hamburger-squeeze .hamburger-inner:after {
    -webkit-transition: bottom 75ms ease .12s, -webkit-transform 75ms cubic-bezier(.55, .055, .675, .19);
    transition: bottom 75ms ease .12s, -webkit-transform 75ms cubic-bezier(.55, .055, .675, .19);
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
    transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19), -webkit-transform 75ms cubic-bezier(.55, .055, .675, .19)
}

.hamburger-squeeze.has-active .hamburger-inner {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: .12s;
    transition-delay: .12s;
    -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.hamburger-squeeze.has-active .hamburger-inner:before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 75ms ease, opacity 75ms ease .12s;
    transition: top 75ms ease, opacity 75ms ease .12s
}

.hamburger-squeeze.has-active .hamburger-inner:after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
    transition: bottom 75ms ease, -webkit-transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
    transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s, -webkit-transform 75ms cubic-bezier(.215, .61, .355, 1) .12s
}

.loading {
    padding: 1rem;
    text-align: center;
    color: #686f76;
    cursor: wait;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.auth {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%
}

.auth-header {
    position: relative;
    padding: 2rem 1.25rem 0;
    width: 100%;
    background-color: #346cb0;
    color: #fff;
    text-align: center;
    background-size: cover
}

@media (min-width:768px) {
    .auth-header {
        margin-bottom: -3rem;
        padding-top: 6rem;
        padding-bottom: 3rem
    }
    .auth-header .container {
        max-width: 420px
    }
}

.auth-header a {
    color: #f7c46c;
    text-decoration: underline
}

.auth-header a:focus,
.auth-header a:hover {
    color: #d3a961
}

.auth-header canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none
}

.auth-form {
    position: relative;
    padding: 2rem 1.25rem 0;
    width: 100%;
    z-index: 1
}

@media (min-width:768px) {
    .auth-form {
        padding: 3rem 2rem 2rem;
        max-width: 420px;
        border-radius: .25rem;
        background-color: #fff;
        -webkit-box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15);
        box-shadow: 0 0 0 1px rgba(61, 70, 79, .05), 0 1px 3px 0 rgba(61, 70, 79, .15)
    }
}

.auth-form-reflow {
    padding: 2rem 1rem 0;
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.auth-form .link {
    text-decoration: underline
}

.auth-floated {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.auth-floated .auth-form {
    max-width: 100%;
    border-radius: 0;
    padding-top: 2rem;
    text-align: center;
    z-index: 2
}

@media (min-width:992px) {
    .auth-floated .auth-form {
        max-width: 33.333333%
    }
}

.auth-floated .auth-announcement {
    display: none;
    padding: 6rem 3rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    color: #fff;
    background-color: #346cb0;
    background-size: cover
}

@media (min-width:992px) {
    .auth-floated .auth-announcement {
        display: block
    }
}

.auth-floated .announcement-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem
}

.auth-floated .announcement-body {
    position: relative;
    z-index: 2
}

.auth-footer {
    padding: 1rem;
    color: #686f76
}

@media (min-width:768px) {
    .auth-footer {
        max-width: 420px
    }
}