<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Buy Airtime/Data</li>
    </ol>
</nav>


<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title"><strong> Buy Airtime Form</strong></h3>
        <span class="badge badge-success">Account No: 29380928308</span>
        <span class="badge badge-warning">Account Bal: #8285080</span>

        <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" disabled>
          <i class="fas fa-times"></i>
        </button>
        </div>
    </div>
    <div class="card-body">
        <div class="tr-job-posted section-padding">
            <div class="container">
                <div class="job-tab text-center">
                    <ul class="nav nav-tabs justify-content-center" role="tablist">
                        <li role="presentation" class="active">
                            <a class="active show" href="#mtn" aria-controls="mtn" role="tab" data-toggle="tab" aria-selected="true">MTN</a>
                        </li>
                        <li role="presentation"><a href="#glo" aria-controls="glo" role="tab" data-toggle="tab" class="" aria-selected="false">GLO</a></li>
                        <li role="presentation"><a href="#airtel" aria-controls="airtel" role="tab" data-toggle="tab" class="" aria-selected="false">AIRTEL</a></li>
                        <li role="presentation"><a href="#9mobile" aria-controls="9mobile" role="tab" data-toggle="tab" class="" aria-selected="false">9MOBILE</a></li>
                    </ul>
                    <div class="tab-content text-left">
                        <div role="tabpanel" class="tab-pane fade active show" id="mtn">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-5">
                                        <div class="card cardbox">

                                            <div class="card-body">

                                                <!-- socail media group -->

                                                <!-- <div *ngIf="showRechargeCard" class="alert alert-warning " style="width: auto;">
                                            Pin: <strong>{{rechargeCard}}</strong></div> -->
                                                <div class="form-group">

                                                    <form id="login-nav" method="post" role="form" class="form" accept-charset="UTF-8">

                                                        <div class="form-group">
                                                            <label class="sr-only">Phone Number</label>
                                                            <input type="text" id="reg_username" name="phoneNo" class="form-control" placeholder="Phone Number" required>
                                                        </div>
                                                        <!-- email group -->
                                                        <div class="form-group">
                                                            <label class="sr-only">Amount</label>
                                                            <input type="type" id="reg_useremail" name="amount" class="form-control" placeholder="Amount">
                                                        </div>
                                                        <!-- password group -->
                                                        <div class="form-group">

                                                            <!-- password label -->
                                                            <label class="sr-only">Pin</label>
                                                            <!-- password input -->
                                                            <div class="input-group">
                                                                <input type="text" id="reg_userpassword" name="transactionPin" class="form-control" data-placement="bottom" data-toggle="popover" data-container="body" data-html="true" placeholder="Pin" required>

                                                                <div class="input-group-append">
                                                                    <button class="btn btn-outline-secondary" type="button" id="button-append1" onclick="togglePassword()">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                            </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Submit -->
                                                        <div class="form-group">
                                                            <button class="btn btn-block btn-sm" style=" background-color: #31b1a4; color: white;" (click)="buyMtnAirtime()">Buy Airtime</button>

                                                        </div>


                                                    </form>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.tab-pane -->
                        <div role="tabpanel" class="tab-pane fade in" id="glo">
                            <div role="tabpanel" class="tab-pane fade active show" id="glo">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-5">
                                            <div class="card cardbox">

                                                <div class="card-body">
                                                    <!-- <div *ngIf="showRechargeCard" class="alert alert-info " style="width: auto;">Pin: <strong>{{rechargeCard}}</strong></div>
                                            <div class="form-group"> -->
                                                    <!-- socail media group -->


                                                    <div class="form-group">
                                                        <form id="login-nav" method="post" role="form" class="form" accept-charset="UTF-8">

                                                            <div class="form-group">
                                                                <label class="sr-only">Phone Number</label>
                                                                <input type="text" name="phoneNo" class="form-control" placeholder="Phone Number" required>
                                                            </div>
                                                            <!-- email group -->
                                                            <div class="form-group">
                                                                <label class="sr-only">Amount</label>
                                                                <input type="type" name="amount" class="form-control" placeholder="Amount">
                                                            </div>
                                                            <!-- password group -->
                                                            <div class="form-group">

                                                                <!-- password label -->
                                                                <label class="sr-only">Pin</label>
                                                                <!-- password input -->
                                                                <div class="input-group">
                                                                    <input type="text" name="transactionPin" class="form-control" data-placement="bottom" data-toggle="popover" data-container="body" data-html="true" placeholder="Pin" required>

                                                                    <div class="input-group-append">
                                                                        <button class="btn btn-outline-secondary" type="button" id="button-append1" onclick="togglePassword()">
                                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                                    </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Submit -->
                                                            <div class="form-group">
                                                                <button class="btn btn-block btn-sm" style=" background-color: #31b1a4; color: white;" (click)="buyGloAirtime()">Buy Airtime</button>

                                                            </div>


                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.row -->
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="airtel">
                            <div role="tabpanel" class="tab-pane fade active show" id="airtel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-5">
                                            <div class="card cardbox">

                                                <div class="card-body">
                                                    <!-- <div *ngIf="showRechargeCard" class="alert alert-info " style="width: auto;">Pin: <strong>{{rechargeCard}}</strong></div>
                                            <div class="form-group"> -->
                                                    <!-- socail media group -->


                                                    <div class="form-group">

                                                        <form id="login-nav" method="post" role="form" class="form" accept-charset="UTF-8">

                                                            <div class="form-group">
                                                                <label class="sr-only">Phone Number</label>
                                                                <input type="text" name="phoneNo" class="form-control" placeholder="Phone Number" required>
                                                            </div>
                                                            <!-- email group -->
                                                            <div class="form-group">
                                                                <label class="sr-only">Amount</label>
                                                                <input type="type" name="amount" class="form-control" placeholder="Amount">
                                                            </div>
                                                            <!-- password group -->
                                                            <div class="form-group">

                                                                <!-- password label -->
                                                                <label class="sr-only">Pin</label>
                                                                <!-- password input -->
                                                                <div class="input-group">
                                                                    <input type="password" name="transactionPin" class="form-control" data-placement="bottom" data-toggle="popover" data-container="body" data-html="true" value="" placeholder="Pin" required>
                                                                </div>
                                                                <!-- password progresbar -->
                                                                <div class="progress mt-1" id="reg-password-strength">
                                                                    <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                    </div>
                                                                </div>

                                                                <!-- Password Rules -->
                                                                <div id="reg_passwordrules" class="hide password-rule mt-2">
                                                                    <small>
                                                                    </small></div>

                                                            </div>
                                                            <!-- Submit -->
                                                            <div class="form-group">
                                                                <button name="submit" class="btn btn-block btn-sm" style=" background-color: #31b1a4; color: white;" (click)="buyAirtelAirtime()">Buy Airtime</button>
                                                                <div id="sign-up-popover" class="hide">
                                                                    <p>is empty</p>
                                                                </div>
                                                            </div>


                                                        </form>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.row -->
                        </div>

                        <div role="tabpanel" class="tab-pane fade in" id="9mobile">
                            <div role="tabpanel" class="tab-pane fade active show" id="9mobile">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-5">
                                            <div class="card cardbox">

                                                <div class="card-body">
                                                    <!-- <div *ngIf="showRechargeCard" class="alert alert-info " style="width: auto;">Pin: <strong>{{rechargeCard}}</strong></div>
                                            <div class="form-group"> -->
                                                    <!-- socail media group -->


                                                    <div class="form-group">

                                                        <form id="login-nav" method="post" role="form" class="form" accept-charset="UTF-8">

                                                            <div class="form-group">
                                                                <label class="sr-only">Phone Number</label>
                                                                <input type="text" name="phoneNo" class="form-control" placeholder="Phone Number" required>
                                                            </div>
                                                            <!-- email group -->
                                                            <div class="form-group">
                                                                <label class="sr-only">Amount</label>
                                                                <input type="type" name="amount" class="form-control" value="" placeholder="Amount">
                                                            </div>
                                                            <!-- password group -->
                                                            <div class="form-group">

                                                                <!-- password label -->
                                                                <label class="sr-only">Pin</label>
                                                                <!-- password input -->
                                                                <div class="input-group">
                                                                    <input type="password" name="transactionPin" class="form-control" data-placement="bottom" data-toggle="popover" data-container="body" data-html="true" value="" placeholder="Pin" required>
                                                                </div>
                                                                <!-- password progresbar -->
                                                                <div class="progress mt-1" id="reg-password-strength">
                                                                    <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                                    </div>
                                                                </div>

                                                                <!-- Password Rules -->
                                                                <div id="reg_passwordrules" class="hide password-rule mt-2"><small>
                                                                        </small></div>

                                                            </div>
                                                            <!-- Submit -->
                                                            <div class="form-group">
                                                                <button name="submit" value="1" class="btn btn-block btn-sm" style=" background-color: #31b1a4; color: white;" (click)="buy9mobileAirtime()">Buy Airtime</button>
                                                                <div id="sign-up-popover" class="hide">
                                                                    <p>is empty</p>
                                                                </div>
                                                            </div>


                                                        </form>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.row -->
                        </div>
                    </div>



                    <!-- /.job-tab -->
                </div>


            </div>
            <!-- /.container -->
        </div>
    </div>
</div>