<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transactions</li>
    </ol>
</nav>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Log of all easy wallet Transactions</h3>

                <div class="card-tools">

                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of WalletTransaction.slice().reverse() | paginate: { itemsPerPage: 5, currentPage: p };let i=index">
                            <td> {{i+1}}</td>
                            <td> {{list.dateCreated | date:'medium'}}</td>
                            <td>{{list.description}}.</td>
                            <td>{{list.amount}}</td>
                            <td><span class="tag tag-success">{{list.status}}</span></td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
            <!-- Pagination -->
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

        <!-- /.card -->
    </div>
</div>